$--gray-1: #ffffff;
$--gray-2: #fafafa;
$--gray-3: #f5f5f5;
$--gray-4: #f0f0f0;
$--gray-5: #d9d9d9;
$--gray-6: #bfbfbf;
$--gray-7: #8c8c8c;
$--gray-8: #595959;
$--gray-9: #434343;
$--gray-10: #262626;

$--green-1: #dff7ec;
$--green-2: #abebd0;
$--green-3: #7edeb9;
$--green-4: #56d1a6;
$--green-5: #31c496;
$--green-6: #10b788;
$--green-7: #06916e;
$--green-8: #006b54;
$--green-9: #004538;
$--green-10: #001f1a;

$--blue-1: #dff1f2;
$--blue-2: #aee0e6;
$--blue-3: #82cdd9;
$--blue-4: #5ab9cc;
$--blue-5: #36a4bf;
$--blue-6: #158eb3;
$--blue-7: #0a698c;
$--blue-8: #024866;
$--blue-9: #002a40;
$--blue-10: #00101a;

$--yellow-1: #fff9e6;
$--yellow-2: #ffe5a3;
$--yellow-3: #ffd57a;
$--yellow-4: #ffc252;
$--yellow-5: #fcab28;
$--yellow-6: #f08c00;
$--yellow-7: #c96f00;
$--yellow-8: #a35400;
$--yellow-9: #7d3c00;
$--yellow-10: #572700;

$--purple-1: #f4e6f5;
$--purple-2: #e7dae8;
$--purple-3: #d6abdb;
$--purple-4: #c480cf;
$--purple-5: #b059c2;
$--purple-6: #9c36b5;
$--purple-7: #76248f;
$--purple-8: #521569;
$--purple-9: #310a42;
$--purple-10: #14041c;

$--brand-text: #0EA47A;
$--brand-icon: #158EB3;

$font-family-base: "Open Sans", sans-serif;
$font-family-headings: "Nunito Sans", sans-serif;

body {
  font-family: $font-family-base;
  font-size: 1.125rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-headings;
    color: $--green-10;
    font-weight: 400;
  }

  h1 {
    font-size: clamp(3.75rem, 4.5rem + 2vw, 5.625rem); // 60px -> 90px
  }

  h2 {
    font-size: clamp(2.5rem, 2rem + 1.5vw, 4rem); // 40px -> 64px
    font-weight: 700;
  }

  h3 {
    font-size: clamp(1.75rem, 1.25rem + 1.2vw, 3rem); // ~28px -> 48px
    font-weight: 500;
  }

  h4 {
    font-size: clamp(1.25rem, 1rem + 0.8vw, 2.25rem); // ~20px -> 36px
  }

  h5 {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem); // ~16px -> 24px
  }

  h6 {
    font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.25rem); // ~14px -> 20px
  }
}

.overview {
  &__services {}

  &__service-item {}

  &__service-title {}

  &__service-desc {}
}

.footer {
  color: $--green-1;
  background-color: $--green-9;
  font-size: .8rem;

  a {
    color: $--green-2;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $--green-6;
    }
  }

  &__brand {}

  &__logo {
    width: 184px;
  }

  &__links {}

  &__contact {}

  &__heading {
    margin-bottom: .5rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-bottom: 0.5rem;
  }

  &__rights {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  @media (max-width: 768px) {
    .row {
      text-align: center;
    }

    .col-md-4 {
      margin-bottom: 2rem;
    }

    &__logo {
      margin: 0 auto 1rem;
    }
  }
}