$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;

$green-1: #dff7ec;
$green-2: #abebd0;
$green-3: #7edeb9;
$green-4: #56d1a6;
$green-5: #31c496;
$green-6: #10b788;
$green-7: #06916e;
$green-8: #006b54;
$green-9: #004538;
$green-10: #001f1a;

$blue-1: #dff1f2;
$blue-2: #aee0e6;
$blue-3: #82cdd9;
$blue-4: #5ab9cc;
$blue-5: #36a4bf;
$blue-6: #158eb3;
$blue-7: #0a698c;
$blue-8: #024866;
$blue-9: #002a40;
$blue-10: #00101a;

$yellow-1: #fff9e6;
$yellow-2: #ffe5a3;
$yellow-3: #ffd57a;
$yellow-4: #ffc252;
$yellow-5: #fcab28;
$yellow-6: #f08c00;
$yellow-7: #c96f00;
$yellow-8: #a35400;
$yellow-9: #7d3c00;
$yellow-10: #572700;

$purple-1: #f4e6f5;
$purple-2: #e7dae8;
$purple-3: #d6abdb;
$purple-4: #c480cf;
$purple-5: #b059c2;
$purple-6: #9c36b5;
$purple-7: #76248f;
$purple-8: #521569;
$purple-9: #310a42;
$purple-10: #14041c;

$brand-text: #0EA47A;
$brand-icon: #158EB3;

$ff-base: "Open Sans", sans-serif;
$ff-headings: "Nunito Sans", sans-serif;

$space-0: 0rem; // 0px
$space-25: 0.125rem; // 2px
$space-50: 0.25rem; // 4px
$space-75: 0.375rem; // 6px
$space-100: 0.5rem; // 8px
$space-150: 0.75rem; // 12px
$space-200: 1rem; // 16px
$space-250: 1.25rem; // 20px
$space-300: 1.5rem; // 24px
$space-400: 2rem; // 32px
$space-500: 2.5rem; // 40px
$space-600: 3rem; // 48px
$space-800: 4rem; // 64px
$space-1000: 5rem; // 80px


.brand-text-highlight {
  color: lighten($brand-text, 15%);
}

.brand-icon-highlight {
  color: lighten($brand-icon, 15%);
}

.btn {
  padding: 1em 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5em;

  font-family: $ff-headings;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;

  border: 0;
  border-radius: $space-100;

  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  background-image: radial-gradient(circle farthest-side at 50% -50%, #ffffff80, #0000);
  box-shadow: 0 4px 4px #0003, 0 1px 1px #0003, inset 0 0 0 1px #0000001a, inset 0 3px 2px -2px #ffffff80;

  &:hover {
    box-shadow: 0 6px 12px #0003, 0 1px 1px #0003, inset 0 0 0 1px #0000001a, inset 0 3px 2px -2px #ffffff80;
  }

  &:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &--green {
    background-color: $green-5;
    color: $green-9;

    &:hover {
      background-color: $green-3;
    }
  }

  &--yellow {
    background-color: $yellow-5;
    color: $yellow-10;

    &:hover {
      background-color: $yellow-3;
    }
  }

  &--purple {
    background-color: $purple-5;
    color: $purple-9;

    &:hover {
      background-color: $purple-4;
    }
  }

  &--blue {
    background-color: $blue-5;
    color: $blue-9;

    &:hover {
      background-color: $blue-4;
    }
  }

  &--login {
    background-color: $gray-3;
    color: $gray-10;
    font-weight: 400;
    border: 2px solid $green-4;

    &:hover {
      background-color: $gray-4;
    }

    &:focus {
      outline-color: $blue-5;
    }
  }
}

body {
  font-family: $ff-base;
  font-size: 1.125rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $ff-headings;
    color: $green-9;
    font-weight: 400;
  }

  h1 {
    font-size: clamp(3.75rem, 4.5rem + 2vw, 5.625rem); // 60px -> 90px
  }

  h2 {
    font-size: clamp(2.5rem, 2rem + 1.5vw, 4rem); // 40px -> 64px
    font-weight: 700;
    margin-bottom: $space-400;
  }

  h3 {
    font-size: clamp(1.75rem, 1.25rem + 1.2vw, 3rem); // ~28px -> 48px
    font-weight: 500;
  }

  h4 {
    font-size: clamp(1.25rem, 1rem + 0.8vw, 2.25rem); // ~20px -> 36px
  }

  h5 {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem); // ~16px -> 24px
  }

  h6 {
    font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.25rem); // ~14px -> 20px
  }

  section {
    padding-top: $space-800;
    padding-bottom: $space-800;
  }
}

.overview {
  &__services {}

  &__service-item {}

  &__service-title {}

  &__service-desc {}
}

.footer {
  color: $green-1;
  background-color: $green-9;
  font-size: .8rem;

  a {
    color: $green-2;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $green-6;
    }
  }

  &__brand {}

  &__logo {
    width: 184px;
  }

  &__links {}

  &__contact {}

  &__heading {
    color: $green-2;
    font-weight: 700;
    margin-bottom: $space-200;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-bottom: $space-75;
  }

  &__rights {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  @media (max-width: 768px) {
    .row {
      text-align: center;
    }

    .col-md-4 {
      margin-bottom: $space-200;
    }

    &__logo {
      margin: 0 auto 1rem;
    }
  }
}

#map {
  height: 500px;
  width: 100%;
  margin: 1.5rem auto;
  border-radius: $space-100;
  border: 4px solid $green-4;
}

.img-wrapper {

  img {
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
  }
}