$font-family-base: "Lexand", sans-serif;
$font-family-headings: "Instrument Sans", sans-serif;
$font-family-nav: "Open Sans", sans-serif;

$text-color-heading: #064e3b;
$text-color-subheading: #064e3b;
$text-color-heading-h2: #064e3bb3;
$text-color-header-nav: #064e3bbf;
$text-color-header-nav-hoover: #064e3b;
$text-color-brand: #0EA47A;
$text-color-brand-e: #136F8A;
$text-color-footer: #f5f5f5;
$text-color-footer-h6: #f5f5f5e0;

$bg-color: #E9F7F2;
$bg-color-odd: #f7f7f7;
$bg-color-tag: #DDEEE9;
$bg-color-footer: #064e3b;

$icon-color: #34d399;

$primary: #0A7D24;
$secondary: #3b443f;
$light: #E6F0EF;
$dark: #03200a;

$fontsize-footer: .8rem;

body {
  font-family: $font-family-base;
  background-color: $bg-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-headings;
    color: $text-color-heading;
  }
}

.brand-highlight {
  color: $text-color-brand;
}

.toogle-nav {
  background-color: transparent;
  border: none;

  .toogle-nav-icon {
    width: 2rem;
    height: 2rem;
    color: $icon-color;
    vertical-align: middle;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  &:hover .toggle-nav-icon {
    transform: rotate(90deg);
    background-color: red;
  }
}

.btn {
  padding: 1em 1.5em;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  border: 0px solid transparent;
  border-radius: 0.5rem;
  background-color: #34d399;
  font-family: $font-family-headings;
  color: #000000dc;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-image: radial-gradient(circle farthest-side at 50% -50%, #ffffff80, #0000);
  justify-content: center;
  align-items: center;
  font-weight: 100;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
  box-shadow: 0 4px 4px #0003, 0 1px 1px #0003, inset 0 0 0 1px #0000001a, inset 0 3px 2px -2px #ffffff80;

  &:hover {
    border-color: transparent;
    background-color: #66deb2;
    color: #000000dc;
    box-shadow: 0 6px 12px #0003, 0 1px 1px #0003, inset 0 0 0 1px #0000001a, inset 0 3px 2px -2px #ffffff80;
  }

  &:focus {
    outline-color: #34d399;
    outline-offset: 2px;
    outline-width: 2px;
    outline-style: solid;
  }
}

.footer {
  color: $text-color-footer;
  background-color: $bg-color-footer;
  font-size: $fontsize-footer;

  a {
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $text-color-brand;
    }
  }

  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .footer-logo {
    width: 184px;
  }

  .footer-rights {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
  }

  .footer-heading {
    color: $text-color-footer-h6;
  }
}

@media (max-width: 768px) {
  .footer {
    .row {
      text-align: center;
    }

    .footer .col-md-4 {
      margin-bottom: 2rem;
    }

    .footer-logo {
      margin: 0 auto 1rem;
    }

  }
}

#map {
  height: 500px;
  width: 100%;
  margin: 1.5rem auto;
}